@import "./breakpoints.module.css"; /* Ensure breakpoints are imported */
@import "./variables.module.css"; /* Ensure variables are imported */

.create-listing {
    display: flex;
    flex-direction: column;
    padding: 4px 6px 10px;
   
}


.create-listing h1 {
    color: var(--blue);
}

.create-listing_step1 {
    /* background-color: white; */
    padding: 3px 4px;
    border-radius: 20px;
    margin-top: 4px;
    gap:1px
}

.create-listing_step1 h2 {
    color: var(--pinkred);
}

.create-listing_step1 hr {
    margin: 15px 0 25px;
}

.create-listing_step1 h3 {
    margin: 4px 0 2px;
    color: var(--blue);
}

.category-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.category {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    
}

.category_icon {
    font-size: 30px;
    color: rgb(102, 7, 7);
}

.category p {
    font-weight: 300;
    text-align: center;
    color: black;
}

.category:hover {
    border: 2px solid rgb(72, 6, 6);
    background-color: var(--lightgrey);
}

.category.selected {
    border: 2px solid rgb(62, 20, 154);
    background-color: var(--lightgrey);
}

.type-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.type {
    display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 1000px;
                max-height: 100px;
                padding: 15px 3px;
                border: 1px solid grey;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.3s ease;
}

.type_text {
    max-width: 600px;
    max-height: 70px;
    padding: 15px 30px;
    
}

.type_icon {
    font-size: 50px;
    max-width: 50px;
    max-height: 50px;
}

.type p {
    font-weight: 500;
}

.type:hover {
    border: 2px solid red;
    /* background-color: var(--lightgrey); */
}

.type.selected {
    border: 2px solid red;
   /* // background-color: var(--lightgrey); */
}
  .full {
        max-width: 1000px;
        padding: 0px 3px;
    }

    .half {
        max-width: 100%;

        display: flex;
        flex-direction: row;
        /* grid-template-columns: 1fr 1fr; */
        gap: 70px;
            
        
    }

    .location {
        p {
            font-weight: 700;
            margin: 20px 0 10px;
        }

        input {
            border: 1px solid grey;
            padding: 15px 10px;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 600;
            width: 500px;

            &:focus {
                outline: none;
            }
        }
    }
    .basics {
       
        display: flex;
        flex-direction: row;
        gap:10px
   
    }
    .basics .basic{
        display: flex;
        flex-direction: row;
        gap: 10px;
        border: 2px solid grey;
        border-radius: 15px;
        height: 60px;
        align-items: center;
    }
     .basics  .basic_count {
            
            display: flex;
            flex-direction: row;
            height: 40px;
           
     }
     .basics   .basic p {
                font-weight: 50;
            }

            .basics .basic .basic_count {
                display: flex;
                align-items: center;
                
                gap: 10px;
                font-size: 20px;
            }
            .create-listing_step2 {
                /* background-color: white; */
                padding: 3px 4px;
                border-radius: 20px;
                margin-top: 4px;
                gap:1px
            }
            
            .create-listing_step2 h2 {
                color: var(--pinkred);
            }
            
            .create-listing_step2 hr {
                margin: 15px 0 25px;
            }
            
            .create-listing_step2 h3 {
                margin: 40px 0 20px;
                color: var(--blue);
            }
        
      .amenity-list {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
                padding: 0 20px;
            }
            
            .amenity-list .amenity {
                display: flex;
                flex-direction: column;
            
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 100px;
                border: 1px solid var(--grey);
                border-radius: 10px;
                cursor: pointer;
                transition: 0.3s ease;
                
            }
            
            .amenity_icon {
                font-size: 30px;
                color: rgb(102, 7, 7);
            }
            
            .amenity p {
                font-weight: 300;
                text-align: center;
                color: black;
            }
            
            .amenity:hover {
                border: 2px solid rgb(72, 6, 6);
                background-color: var(--lightgrey);
            }
            
            .amenity.selected {
                border: 2px solid rgb(79, 6, 236);
                background-color: var(--lightgrey);
            }

            .photos{
                position: relative;
                width: 50%;
                height: 50%;
                cursor: move;
            }
            .photos .photo{
                position: relative;
                width: 100%;
                height: 100%;
                cursor: move;
            }
            .photos .photo img{
                width: 100%;
                height: 100%;

                border-radius: 0%;
            }
       .photo .btn{
        position: absolute;
        right: 0;
        top: 0;
        padding: 3px;
        border: none;
        background-color: rgba(250, 4, 28, 0.8);
        font-size: 20px;
        cursor: pointer;

        &:hover {
            color:rgb(0, 0, 0);
        }
       }
       .photos label{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px dashed grey;

       }
      .icon{
        font-size: 60px;
        
       }
       .photos label   p {
        font-weight: 600;
        text-align: center;
    }
    .photos.together {
        width: 250px;
        height: 150px;
    }
    .photos.alone {
        padding: 40px 100px;
        border-radius: 10px;

            padding: 40px 80px;
        

      
            padding: 40px 30px;
        
    }

@media (max-width: 100px) {
    .create-listing {
        padding: 20px 10px;
    }

    .category-list {
        padding: 0;
    }

    .half {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .alone {
        padding: 20px 0px;
    }
}

@media (max-width: 200px) {
    .create-listing_step1 {
        padding: 30px 20px;
    }
}

@media (max-width: 200px) {
    .category-list {
        padding: 0;
    }

    .description input,
    .description textarea {
        width: 400px;
    }
}

@media (max-width: 820px) {
    .half {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .description input,
    .description textarea {
        width: 350px;
    }
}

@media (max-width: 1000px) {
    .category-list {
        padding: 0 20px;
    }
}

@media (max-width: 1120px) {
    .description input,
    .description textarea {
        width: 280px;
    }
}
