.whole{
    background-color: antiquewhite;
    
}
h2{
    background-color: antiquewhite;
    color: rebeccapurple;
    text-align: center;
    padding: 20px;
}

.create-listing {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 100px 100px 100px;
   
}


.create-listing h1 {

    background-color: antiquewhite;
    color: rebeccapurple;
}

.create-listing_step1 {
    
    background-color: antiquewhite;
    padding: 3px 4px;
    border-radius: 20px;
    margin-top: 4px;
    gap:1px
}

.create-listing_step1 h2 {
    background-color: antiquewhite;
}

.create-listing_step1 hr {
    
    margin: 15px 0 25px;
}

.create-listing_step1 h3 {
    background-color: antiquewhite;
    margin: 4px 0 2px;
    color: var(--blue);
}

.category-list {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.category {
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90px;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    
}

.category_icon {
    background-color: white;
    font-size: 30px;
    color: rgb(102, 7, 7);
    
    &:hover {
        color:rgb(120, 115, 115);
    }
}


.category p {

    font-weight: 300;
    text-align: center;
    color: black;
}

.category:hover {
    border: 2px solid rgb(72, 6, 6);
    background-color: rgb(120, 115, 115);
}

.category.selected {
    border: 2px solid rgb(193, 164, 255);
    background-color: #66f137;
}

.type-list {
    max-width: 60%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
   
}

.type {
    
    display: flex;
                justify-content: left;

                align-items: center;
                
                gap:20px;
                border: 1px solid grey;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.3s ease;
                padding-left: 8px;
               
}

.type_text {
    
   
   display: flex;
   flex-direction: row;
   padding: auto;
  
    
}

.type_icon {
    font-size: 30px;
    max-width: 30px;
    max-height: 30px;
}

.type p {
    font-weight: 500;
}

.type:hover {
   
    background-color: var(--lightgrey);
}

.type.selected {
   
    border: 3px solid rgb(255, 8, 8)
}


  .full {
    background-color: antiquewhite;
        max-width: 1000px;
        padding: 0px 3px;
    }

    .half {
        background-color: antiquewhite;
        max-width: 100%;

        display: flex;
        flex-direction: row;
        /* grid-template-columns: 1fr 1fr; */
        gap: 70px;
            
        
    }

    .location {
        background-color: antiquewhite;
        p {
            font-weight: 700;
            margin: 20px 0 10px;
        }

        input {
            border: 1px solid grey;
            padding: 15px 10px;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 600;
            width: 500px;

            &:focus {
                outline: none;
            }
        }
    }
    .basics {
        background-color: antiquewhite;
       
        display: flex;
        flex-direction: column;
        width: 17%;
        
        font-size: large;
        gap:10px;
   
    }
    .basics .basic{
        padding: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4px;
        border: 2px solid grey;
        border-radius: 15px;
    
        
    }
 
     .basics   .basic p {
              font-size: 20px;
              
            }

            .basics .basic .basic_count {
                display: flex;
                
                align-items: center;
                justify-content: center;
                background-color: transparent;
                gap: 10px;
                font-size: 13px;
            }
            .create-listing_step2 {
                background-color: antiquewhite;
                /* background-color: white; */
                padding: 3px 4px;
                border-radius: 20px;
                margin-top: 4px;
                gap:1px
            }
            
            .create-listing_step2 h2 {
                background-color: antiquewhite;
                color: rebeccapurple;
                
            }
            
            .create-listing_step2 hr {
                margin: 15px 0 25px;
            }
            
            .create-listing_step2 h3 {
                background-color: antiquewhite;
                margin: 40px 0 20px;
                color: var(--blue);
            }
        
      .amenity-list {
        background-color: antiquewhite;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
                padding: 0 20px;
            }
            
            .amenity-list .amenity {
                
                display: flex;
                flex-direction: column;
            
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 100px;
                border: 1px solid var(--grey);
                border-radius: 10px;
                cursor: pointer;
                transition: 0.3s ease;
                
            }
            
            .amenity_icon {
                font-size: 30px;
                color: rgb(102, 7, 7);
            }
            
            .amenity p {
                font-weight: 300;
                text-align: center;
                color: black;
            }
            
            .amenity:hover {
                border: 2px solid rgb(72, 6, 6);
                background-color: var(--lightgrey);
            }
            
            .amenity.selected {
                border: 2px solid rgb(79, 6, 236);
                background-color: #66f137;
            }

            .photos{
                position: relative;
                gap:8px;
                width: 50%;
                height: 50%;
                cursor: move;
            }
            .photos .photo{
                position: relative;
                width: 300px;
                height: 50%;
                cursor: move;
            }
            .photos .photo img{
                width: 300px;
                height: 100%;

                border-radius: 0%;
            }
       .photo  .btn{
        height: 100%;
        border: none;
        background-color: rgba(250, 4, 28, 0.8);
        font-size: 25px;
        cursor: pointer;
        padding: 2px 2px 2px 2px;
       
        transform: translateY(-40px);
        flex:1;

        &:hover {
            color:rgb(0, 0, 0);
        }
       }
       .photos label{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px dashed grey;

       }
      .icon{
        font-size: 60px;
        
       }
       .photos label   p {
        font-weight: 600;
        text-align: center;
    }
    .photos.together {
        display: flex;
        width: 50px;
        height: 50px;
    }
    .photos.alone {
        padding: 40px 100px;
        border-radius: 10px;

            padding: 40px 80px;
        

      
            padding: 40px 30px;
        
    }
    .description{
        background-color: antiquewhite;
        input {
            border: 1px solid grey;
            padding: 15px 10px;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 600;
            width: 500px;

            &:focus {
                outline: none;
            }
        }
        textarea {
            border: 1px solid grey;
            padding: 15px 10px;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 600;
            width: 500px;

            &:focus {
                outline: none;
            }
        }

    }

@media (max-width: 100px) {
    .create-listing {
        padding: 20px 10px;
    }

    .category-list {
        padding: 0;
    }

    .half {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .alone {
        padding: 20px 0px;
    }
}

@media (max-width: 200px) {
    .create-listing_step1 {
        padding: 30px 20px;
    }
}

@media (max-width: 200px) {
    .category-list {
        padding: 0;
    }

    .description input,
    .description textarea {
        width: 400px;
    }
}

@media (max-width: 820px) {
    .half {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .description input,
    .description textarea {
        width: 350px;
    }
}

@media (max-width: 1000px) {
    .category-list {
        padding: 0 20px;
    }
}

@media (max-width: 1120px) {
    .description input,
    .description textarea {
        width: 280px;
    }
}
