/* variables.module.scss */


/* ListingCard.module.scss */
.listing-card {
  height: 100%;
  width: 20.5%;
  position: relative;
    
  background-color: rgb(246, 246, 246);
  cursor: pointer;
  
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  
  padding: 10px;
  border-radius: 10px;

  box-shadow:10px black;


  border-color: rgb(12, 12, 12);
  
  

  &:hover {
    box-shadow: red; 
  }  
}

  .image-slider{
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease;

    .slide {
      position: relative;
      flex: 0 0 100%;
      width: 100%;
      height: 270px;
      display: flex;
      align-items: center;
    }

    .slide img {
      width: 100%;
      height: 100%;
      filter: brightness(85%);
    }

    .slide .prev-button,
    .slide .next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 10px;
      padding: 6px;
      border-radius: 10%;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.7);
      z-index: 9999;
    }

    .slide .prev-button:hover,
    .slide .next-button:hover {
      background-color: white;
    }

    .slide .prev-button {
      left: 10px;
    }

    .slide .next-button {
      right: 10px;
    }
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  span {
    font-weight: 700;
    font-size: 18px;
  }

  .favorite {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
    background: none;
  }

