.reviewSection {
    margin-top: 20px;
}

.reviewForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.reviewForm label {
    margin-bottom: 10px;
}

.reviewForm input,
.reviewForm textarea {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.reviewForm button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.reviewList {
    margin-top: 20px;

}

.review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
button{
    width: 80px;
    justify-content: center;

}