

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
  height: 100%;
  background-color: rgb(255, 253, 250);
  
  

}
button{
  background-color: transparent;
  background-color: rgb(50, 8, 8);
  color: rgb(48, 142, 224);
 

 }
 input{
  box-shadow: 1.5px 2px #500707;
 }
 
 
 .logo{
  border-radius: 50%;
  height: 100px;
 }
 a, button{
  transition : all 300ms ease;
}
a {
  color : black;
  text-decoration: none;
  text-decoration-color: white;

}
a:hover{
  /* what happens when we touch */
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}
button:hover{
  /* what happens when we touch */
  color: rgb(245, 144, 144);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}