

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.container{
  height: 100vh;
  background-color: blanchedalmond;
  
  

}
button{
  background-color: transparent;
  background-color: rgb(50, 8, 8);
  color: aliceblue;
 

 }
 input{
  box-shadow: 1.5px 2px #500707;
 }
 
 
 .logo{
  border-radius: 50%;
  height: 100px;
 }